<h1>Edit portfolio</h1>

<%= form_for(@portfolio) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :classification %><br />
    <%= f.text_field :classification %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>